{:deps
 {org.clojure/core.async {:mvn/version "0.4.474"}
  circleci/clj-yaml {:mvn/version "0.5.6"}
  potemkin {:mvn/version "0.4.4"}

  ;; test.chuck is in the main dependency list, rather than in the test profile, because we’re
  ;; using one of its generators in a spec in a source file.
  com.gfredericks/test.chuck {:mvn/version "0.2.8"}}

 :aliases {:dev       {:extra-paths ["test"]
                       :extra-deps  {org.clojure/test.check     {:mvn/version "0.9.0"}
                                     com.cognitect/test-runner  {:git/url "https://github.com/cognitect-labs/test-runner"
                                                                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}}
           :test      {:extra-paths ["test"]
                       :extra-deps  {org.clojure/test.check     {:mvn/version "0.9.0"}
                                     com.cognitect/test-runner  {:git/url "https://github.com/cognitect-labs/test-runner"
                                                                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}}
           :run-tests {:extra-paths ["test"]
                       :extra-deps  {org.clojure/test.check     {:mvn/version "0.9.0"}
                                     com.cognitect/test-runner  {:git/url "https://github.com/cognitect-labs/test-runner"
                                                                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
                       :main-opts   ["-m" "cognitect.test-runner"]}}}
